.movieList__carousel {
  .slick-slider {
    .slick-prev {
      left: -7%;
    }
    .slick-next {
      right: -7%;
    }
    .slick-dots {
      li {
        display: none !important;
      }
    }
  }
  @include responsive("large") {
    padding-left: calc((940px - 963px)/2);
    padding-right: calc((940px - 963px)/2);

    .slick-slider {
      .slick-prev {
        display: none !important;
      }
      .slick-next {
        display: none !important;
      }
    }
  }
}
