* {
  margin: 0;
  padding: 0;
}

html,
body {
  // overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    min-height: 30px;
    max-height: 30px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #d1d0d0;
    border-radius: 4px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(116, 113, 113);
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
}
