@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
// Usage as a mixin
.element {
  @include clearfix;
}

@mixin responsive($screen) {
  @if(map-has-key($breakpoints,$screen)){
      $value:map-get($breakpoints,$screen);
      @media screen and (max-width:$value){
          @content;
      }
  }
}