.login__background {
    // margin-top: -48px;
    background-image: url('../../assets/img/bgLogin.jpg');
    background-size: contain;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}