.homepage {
  .slick-slider {
    transition: all 0.5s;
    line-height: 0;
    &:hover {
      .slick-list {
        .slick-track {
          .slick-slide {
            .slider__trailer {
              opacity: 1;
            }
          }
        }
      }
    }
    .slick-arrow {
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      width: 50px;
      height: 100px;
      z-index: 2;
      opacity: 0.5;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .slick-prev {
      left: 15px;
      background-image: url("../../img/back-session.png");
      &::before {
        opacity: 0;
      }
    }
    .slick-next {
      right: 15px;
      background-image: url("../../img/next-session.png");
      &::before {
        opacity: 0;
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 0;
      li {
        display: inline-block;
        margin: 0;
        button {
          background-color: #d8d8d8;
          width: 12px;
          height: 12px;
          padding: 0;
          border-radius: 50%;
          border: none;
          color: transparent;
          &::before {
            opacity: 0;
          }
        }
      }
      li.slick-active {
        button {
          background-color: #fb4226;
        }
      }
    }
    .slick-list {
      .slick-track {
        .slick-slide {
          position: relative;
          //   &:hover {
          //     .slider__trailer {
          //       opacity: 1;
          //     }
          //   }
          .slider__trailer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            background: 0 0;
            border: none;
            opacity: 0;
            transition: all 0.5s;
            &:hover {
              opacity: 0.8;
            }
            &:focus {
              // outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  .homepage__movieList {
    position: relative;
    .searchMovie {
      display: block;
      max-width: 940px;
      margin: auto;
      height: 80px;
      position: absolute;
      top: 0;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 5px;
      z-index: 2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      ::after {
        display: none;
      }
      ::before {
        content: "";
        position: absolute;
        left: 0;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        border-right: 1px solid #fff;
        border-right-color: rgba(238, 238, 238, 0.88);
      }
      .w30p {
        width: 30%;
      }
      .smallBlock {
        width: calc(70% / 4);
      }
      .widthByPercent {
        float: left;
        position: relative;
        height: 100%;
        ::before {
          display: none;
        }
        .selectMenu {
          text-align: left;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          background-color: transparent;
          border: none;
          color: #000;
          cursor: pointer;
          width: 100%;
          padding: 7%;
          // background-image: url("../../img/dropdown-icon.png");
          // background-repeat: no-repeat;
          // background-position: calc(100% - 8px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 20px;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        #buy_tiket {
          background-color: #4a4a4a;
          border: none;
          text-transform: uppercase;
          border-radius: 4px;
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translate(0, -50%);
          padding: 10px 15px;
          color: white;
          &:focus {
            // outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
